<!--<div class="footer">
  <p jhiTranslate="footer">Ceci est votre pied de page</p>
</div>-->

<footer class="footer bg-primary navbar-primary">
  <h2 class="visually-hidden">Sitemap & information</h2>
  <div class="container-xxl footer-terms">
    <ul class="navbar-nav gap-md-3 justify-content-center">
      <li class="fw-bold">© Fusion Team 2023</li>
      <!--<li><a class="nav-link" href="#">Terms and conditions</a></li>
      <li><a class="nav-link" href="#">Privacy</a></li>
      <li><a class="nav-link" href="#">Accessibility statement</a></li>
      <li><a class="nav-link" href="#">Cookie policy</a></li>-->
    </ul>
  </div>
</footer>
